/* defaults border-box to all height and width properties. defaults no padding or margin to all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* specifices the webpage's background color */
body {
    background-color: #d9dcd6;
}

/* defines header section's padding, font, background color, and text color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* describes webpage display and font size */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes color for "seon" of Horiseon */
.seo {
    color: #d9dcd6;
}

/* defines size of navigation bar and fonts properties of links*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* tells the nav-bar to not have any bullet points or numbering for links */
.nav-ul {
    list-style-type: none;
}

/* formatting for nav-bar links are inline with a left margin buffer*/
.nav-li {
    display: inline-block;
    margin-left: 25px;
}

/* all links are white with no underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* defines all paragraph font size */
p {
    font-size: 16px;
}

/* this class generates a background image for the defined section size*/
.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* defines section dimensions for webpage content descriptions */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* class positions images on the left side of each content section */
.float-left {
    float: left;
    margin-right: 25px;
}

/* class positions images on the right side of each content section */
.float-right {
    float: right;
    margin-left: 25px;
}

/* defines aside section's dimensions, font size, and background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* following code decribes styling for the benefits sections */
.benefit-items {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-items h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-items img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* following code provides styling for info panels and images */
.info-panels {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.info-panels img {
    max-height: 200px;
}

.info-panels h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer styling */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

footer h3 {
    font-size: 20px;
}